<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Login Page</ion-card-subtitle>
      <ion-card-title>My Grocery</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <ion-item>  
       <!-- Input with placeholder -->
      <ion-input placeholder="Username"></ion-input>
      </ion-item>
      <br>
      <ion-item>  
        <!-- Input with placeholder -->
       <ion-input placeholder="Password" type= "Password"></ion-input>
       </ion-item>
      <br>
      <ion-button (click)="logMeIn()">login</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
